:root{

    --primaryColor: #151615;
    --secondaryColor: #232323;
    --sideColor: #2d2d2d;
    --actionColor: #49a634;
    --actionColorHover: #47ca2a;

}
.searchField{

    width: 100%;
    height: 100%;
    padding-top: 55px;
    display: flex;
    flex-direction: column;

}

.searchParameters{

    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-items: center; */
    padding: 0 15px;
    margin-bottom: 50px;

}

.searchParameters img{

    filter: brightness(0) invert(1);

}

.searchBox{

    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 15px;
    

}

.searchBox input{

    background: transparent;
    border: none;
    border-bottom: solid 1px #fff;
    height: 30px;
    width: 100%;
    color: #fff;
    padding-left: 25px;
    outline: none;

}

.searchBox img{

    height: 15px;
    position: absolute;

}

.orderByBox{

    display: flex;
    align-items: flex-start;
    /* padding: 0 10px; */
    justify-content: space-between;
    width: 100%;


}

.orderByBox p{

    margin-right: 15px;
    height: 40px;
    display: flex;
    align-items: center;

}

.orderByBox img{

    height: 25px;
    cursor: pointer;

}

.orderByOptions{

    height: 40px;
    width: 220px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow-y: hidden;
    position: relative;
    transition: 0.2s;
    
    
}

.orderByOptions.active{

    height: 130px;
    background: var(--secondaryColor);
    border-radius: 5px;

}

#frontGlass{

    position: absolute;
    width: 220px;
    z-index: 5;
    height: 40px;
    top: 0;
    cursor: pointer;

}

#frontGlass:hover{

    background: #ffffff27;
    border-radius: 5px;

}

.orderByOption{

    min-height: 40px;
    width: 100%;
    display: flex;
    gap: 10px;
    align-items: center;
    user-select: none;
    cursor: pointer;
    border-radius: 5px;
    padding: 2px;
    transition: 0.5s;
    padding-left: 10px;
    order: 2;

}

.orderByOption.selected{

    order: 1;

}

#arrow{

    position: absolute;
    right: 5px;
    top: 12px;
    height: 20px;
    
}


.orderByOption:hover{

    background: var(--secondaryColor);

}

.orderByOption img{

    height: 20px;
    

}

.aboutSearch{

    width: 100%;
    height: 30px;
    margin-bottom: 20px;

}

.count{

    font-size: 1rem;
    padding-left: 15px;

}

.listBox{

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;
    align-items: center;

}

.listBox::-webkit-scrollbar{

    width: 5px;

}

.listBox::-webkit-scrollbar-track{

    background: transparent;

}

.listBox::-webkit-scrollbar-thumb{

    background: #ffffff88;
    border-radius: 3px;

}

.listItem{

    width: 97%;
    height: 120px;
    display: flex;
    transition: 0.3s;
    border-bottom: solid 1px #ffffff7b;
    
    
}

.listItem:hover{

    background: #ffffff1d;

}

.line{

    width: 1px;
    height: 120px;
    background: var(--lineColor);

}

.infos{

    width: calc(100% - 2px);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;


}

.down{

    display: flex;
    width: 100%;


}

.beneficiario{

    height: 100%;
    width: 50%;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    justify-content: space-between;
    gap: 5px;

}

.personalInfo img{

    height: 20px;
    filter: brightness(0) invert(1);

}

.personalInfo{

    display: flex;
    gap: 5px;

}

.personalInfo .info{

    font-size: 0.9rem;

}

.othersInfos{

    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    flex-wrap: wrap;
    padding-right: 15px;
    gap: 10px;

}

.othersInfos{

    filter: brightness(0) invert(1);
    height: 20px;

}

.titleBox{

    font-size: 1rem;

}




.head{

    display: flex;
    gap: 5px;

}

.otherInfo{

    display: flex;
    gap: 5px;
    font-size: 0.9rem;
    margin-bottom: 5px;

}

.otherInfo img{

    height: 25px;

}

.opcAlter{

    height: 100px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

}

.opcAlter.disable{

    color: #ffffff5b;

}

.opcAlter img{

    height: 40px;
    filter: brightness(0) invert(1);

}

.opcAlter.disable img{

    opacity: 0.3;

}
