@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{

    --primaryColor: #151615;
    --secondaryColor: #232323;
    --sideColor: #2d2d2d;
    --actionColor: #49a634;
    --actionColorHover: #47ca2a;

}

*{

    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Poppins;

}

.container{

    width: 100%;
    min-height: 100vh;
    max-height: fit-content;
    background: var(--primaryColor);
    color: #fff;
    padding-bottom: 10px;
    

}

.invisible{

    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: -10;

}

.invisible.active{

    z-index: 2;

}

.menu{

    padding-top: 50px;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 300px;
    height: 100vh;
    background: var(--secondaryColor);
    right: -300px;
    transition: 0.5s;
    z-index: 3;
    box-shadow: 10px 6px 18px -5px rgba(0, 0, 0, 0.32);

}

.menu.open{

    right: 0;

}

.optMenu{

    display: flex;
    width: 80%;
    align-items: center;
    gap: 20px;
    padding: 10px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.2s;

}

.optMenu p{

    user-select: none;

}

.optMenu:hover{

    background: var(--sideColor);

}

.optMenu.selected{

    background: var(--sideColor);

}

.optMenu img{

    height: 25px;
    filter: brightness(0) invert(1);

}


.header{

    position: fixed;
    width: 100%;
    height: 45px;
    background: var(--secondaryColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 4;
    box-shadow: 10px 6px 18px -5px rgba(0, 0, 0, 0.32);


}

.header img{

    height: 35px;

}

.header .toggle{

    display: flex;
    gap: 5px;
    flex-direction: column;
    position: relative;
    width: 25px;
    height: 20px;

}

.header .toggle span{

    height: 3px;
    width: 25px;
    background: #fff;
    border-radius: 3px;
    transition: 0.5s;

}

.header .toggle.active{

    padding: 20px;

}

.header .toggle.active span{

    position: absolute;

}

.header .toggle.active span:nth-child(1){

    transform: rotate(45deg);

}

.header .toggle.active span:nth-child(2){

    transform: translateX(150px);

}

.header .toggle.active span:nth-child(3){

    transform: rotate(135deg);

}

.loadingBox{

    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -2;
    opacity: 0;
    transition: 0.5s;

}

.loadingBox.active{

    z-index: 15;
    opacity: 1;

}

.loadingBox .loading{

    width: 100px;
    height: 100px;
    border: solid 5px var(--actionColor);
    display: flex;
    align-items: flex-end;
    animation: loadingBox 2s infinite;
    animation-delay: 1s;

}

.loadingBox .loading .fill{

    width: 100%;
    height: 0;
    background: var(--actionColor);
    animation: loadingFill 2s infinite;

}

@keyframes loadingFill{

    50%{

        height: 0;

    }

    100%{

        height: 100%;

    }

}

@keyframes loadingBox{

    0%{

        transform: rotate(0deg);

    }
    51%{

        transform: rotate(0deg);

    }
    100%{

        transform: rotate(360deg);

    }

}


.formBody{

    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
    gap: 20px;

}

.formBody h2{

    font-weight: 500;

}

.formBody form{

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;

}

.inputBox{

    position: relative;
    width: 300px;
    margin-bottom: 20px;

}

.inputBox input{

    background: transparent;
    border: none;
    border: solid 1px #fff;
    height: 40px;
    width: 290px;
    color: #fff;
    letter-spacing: 0.1rem;
    padding-left: 5px;
    padding-top: 5px ;
    transition: 0.3s;
    

}

.inputBox .inputField.error{

    border: solid 1px red;
    animation: inputError 0.5s;

}

@keyframes inputError{


    40%{

        transform: translateX(-20px);

    }

    60%{

        transform: translateX(20px);

    }

}


.inputBox .label{

    position: absolute;
    background: var(--primaryColor);
    left: 10px;
    top: -14px;
    padding: 0px 5px;
    

}

.inputBox .labelError{

    font-size: 0.9rem;
    color: rgb(255, 27, 27);
    position: absolute;
    letter-spacing: 0.1rem;
    

}

.send{

    width: 100px;
    height: 40px;
    background: var(--actionColor);
    border: none;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 500;
    box-shadow: 10px 6px 18px -5px rgba(0, 0, 0, 0.32);
    cursor: pointer;
    user-select: none;
    transition: 0.3s;
    

}

.send:hover{

    background: var(--actionColorHover);
    transform: scale(1.02);

}

.send.disable{

    background: rgb(106, 106, 106);
    pointer-events: none;

}